.number-of-things {
    mat-form-field {
        width: 32%;
    }
}

.address {
    mat-form-field {
        width: 48%;
    }
}

.property-image {
    figcaption {
        margin-bottom: -25px;
        padding-left: 125px;
        width: min-content;
    }

    img {
        object-position: center;
        object-fit: cover;
        width: 150px;
        height: 100px;
    }
}
