<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">Host Your Home</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-content mt-2">

        <form [formGroup]="listingsForm">
            <div *ngIf="step === 0">
                <h4>Basic Home Info</h4>
                <mat-divider class="mt-4 mb-4"></mat-divider>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput required>
                    <mat-error *ngIf="listingsForm.controls.name.hasError('required')">
                        Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput required></textarea>
                    <mat-error *ngIf="listingsForm.controls.description.hasError('required')">
                        A Description is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nightly Price</mat-label>
                    <input formControlName="price" matInput required step="1" type="number">
                    <mat-error *ngIf="listingsForm.controls.price.hasError('required')">
                        Nightly Price is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Property Type</mat-label>
                    <mat-select formControlName="property_type" required>
                        <mat-option value="house">House</mat-option>
                        <mat-option value="apartment">Apartment</mat-option>
                        <mat-option value="resort">Resort</mat-option>
                        <mat-option value="cabin">Cabin</mat-option>
                        <mat-option value="cottage">Cottage</mat-option>
                    </mat-select>
                    <mat-error *ngIf="listingsForm.controls.property_type.hasError('required')">
                        Property Type is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Place Type</mat-label>
                    <mat-select formControlName="place_type" required>
                        <mat-option value="entire_place">Entire Place</mat-option>
                        <mat-option value="private_room">Private Room</mat-option>
                        <mat-option value="hotel_room">Hotel Room</mat-option>
                        <mat-option value="shared_room">Shared Room</mat-option>
                    </mat-select>
                    <mat-error *ngIf="listingsForm.controls.place_type.hasError('required')">
                        Place Type is required
                    </mat-error>
                </mat-form-field>

                <div class="d-flex number-of-things justify-content-between">

                    <mat-form-field appearance="outline">
                        <mat-label>Occupancy</mat-label>
                        <input formControlName="occupancy" matInput required step="1" type="number">
                        <mat-error *ngIf="listingsForm.controls.occupancy.hasError('required')">
                            Occupancy is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="ml-2 mr-2">
                        <mat-label>Bedrooms</mat-label>
                        <input formControlName="bedrooms" matInput required step="1" type="number">
                        <mat-error *ngIf="listingsForm.controls.bedrooms.hasError('required')">
                            Bedrooms is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Bathrooms</mat-label>
                        <input formControlName="bathrooms" matInput required step="1" type="number">
                        <mat-error *ngIf="listingsForm.controls.bathrooms.hasError('required')">
                            Bathrooms is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div [formGroup]="this.listingsForm.controls.address">
                    <h4>Address</h4>
                    <mat-divider class="mt-4 mb-4"></mat-divider>
                    <div class="d-flex justify-content-between address">
                        <mat-form-field appearance="outline" class="mr-2">
                            <mat-label>Address Line 1</mat-label>
                            <input formControlName="address_line1" matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Address Line 2</mat-label>
                            <input formControlName="address_line2" matInput>
                        </mat-form-field>
                    </div>

                    <div class="d-flex justify-content-between address">
                        <mat-form-field appearance="outline" class="mr-2" color="accent">
                            <mat-label>City</mat-label>
                            <input [matAutocomplete]="auto" formControlName="city" matInput>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option (onSelectionChange)="gpsLocation(location)"
                                            *ngFor="let location of filteredLocations | async"
                                            [value]="location.city">
                                    <span>{{location.city}}</span>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>State</mat-label>
                            <input [matAutocomplete]="auto2" formControlName="state" matInput>
                            <mat-autocomplete #auto2="matAutocomplete">
                                <mat-option *ngFor="let location of filteredStateLocations | async"
                                            [value]="location.state">
                                    <span>{{location.state}}</span>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-between address">
                        <mat-form-field appearance="outline" class="mr-2">
                            <mat-label>Country</mat-label>
                            <input formControlName="country" matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Postal Code</mat-label>
                            <input formControlName="postal_code" matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div *ngIf="step === 1">
                <h4>House Rules</h4>
                <mat-divider class="mt-4 mb-4"></mat-divider>
                <div class="d-flex flex-wrap pt-4 mb-4">
                    <mat-checkbox class="mr-2" formControlName="pets_allowed" style="width: 45%">Pets Allowed
                    </mat-checkbox>
                    <mat-checkbox formControlName="smoking_allowed" style="width: 45%">Smoking Allowed</mat-checkbox>
                </div>

                <h4>Amenities</h4>
                <mat-divider class="mt-4 mb-4"></mat-divider>
                <div [formGroup]="this.listingsForm.controls.amenities" class="d-flex flex-wrap pt-4 mb-4">
                    <mat-checkbox *ngFor="let control of amenitiesFormControls" [formControlName]="control" class="mr-2"
                                  style="width: 45%">{{control.split('_').join(' ') | titlecase}}</mat-checkbox>
                </div>

                <h4>Facilities</h4>
                <mat-divider class="mt-4 mb-4"></mat-divider>
                <div [formGroup]="this.listingsForm.controls.facilities" class="d-flex flex-wrap pt-4 mb-4">
                    <mat-checkbox *ngFor="let control of facilitiesFormControls" [formControlName]="control"
                                  class="mr-2"
                                  style="width: 45%">{{control.split('_').join(' ') | titlecase}}</mat-checkbox>
                </div>
            </div>

            <div *ngIf="step ===2">
                <h4>Property Images</h4>
                <mat-divider class="mt-4 mb-4"></mat-divider>
                <ng-container>
                    <ng-container *ngIf="uploading">
                        <div class="d-flex align-items-center justify-content-center">
                            <mat-spinner></mat-spinner>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!uploading">
                        <div (click)="fileUpload.click()"
                             class="d-flex flex-column justify-content-center align-items-center pt-2 image-upload-box">
                            <div>
                                <button mat-stroked-button type="button">
                                    <mat-icon>publish</mat-icon>
                                </button>
                            </div>
                            <div>
                                <h2>Upload Photo</h2>
                            </div>
                            <input #fileUpload (change)="upload($event)" accept="image/*" hidden type="file">
                        </div>
                    </ng-container>
                </ng-container>
                <div class="d-flex flex-wrap justify-content-center">
                    <figure *ngFor="let image of images" class="m-2 property-image">
                        <figcaption>
                            <button (click)="deleteImage(image)" color="warn" mat-mini-fab>
                                <mat-icon>close</mat-icon>
                            </button>
                        </figcaption>
                        <img [src]="image?.url ?  image.url :  image">
                    </figure>
                </div>
            </div>
        </form>
    </div>

    <div class="panel-footer">
        <button mat-flat-button color="warn" class="mr-auto" *ngIf="data?.listing" (click)="deleteListing()"><mat-icon>delete</mat-icon></button>
        <button (click)="step =  step - 1" *ngIf="step > 0" class="mr-auto" mat-flat-button>Prev</button>
        <button (click)="step =  step + 1" *ngIf="step < 2" mat-flat-button>Next</button>
        <button (click)="submit()" *ngIf="step === 2" color="primary" mat-flat-button>Submit</button>
    </div>

</section>
