#app-header {
    background-color: rgba(25, 25, 25);
    padding: 5px 10px;

    * {
        color: whitesmoke;
    }

    .demo-title {
        font-weight: 900;
    }

    .menu-with-profile-image {
        width: fit-content;
        margin-left: auto;
        border-radius: 30px;
        padding: 0 5px;
        border: 1px solid white;
        background: whitesmoke;
    }

    .menu-button mat-icon {
        font-size: 2em;
        padding: 5px;
        color: black;
        width: fit-content;
        height: fit-content;
    }

    .page-logo, .header-menu {
        width: 300px;
    }

    ::ng-deep .mat-form-field:not(.mat-form-field-invalid):not(.mat-focused) .mat-form-field-flex  {
        border-bottom: 1px solid whitesmoke !important;
        * {color: white}
    }


}

::ng-deep.mat-menu-panel {
    max-width: 4000px !important;
    width: 300px !important;

    * {
        font-weight: bold;
        font-size: 1em;
    }
}

::ng-deep.mat-form-field-suffix {
    padding-right: 5px;

}

.search-icon {
    font-size: 1.1em;
    font-weight: 600;
    height: fit-content;
    width: fit-content;
    //transform: translateY(4px);
}
