<nav id="app-header">
    <div class="d-flex align-items-center justify-content-between p-3">
        <div class="page-logo  d-none d-md-block">
            <h3 class="demo-title cursor-pointer" routerLink="home">
                {{config.title}}
            </h3>

            <div class=" d-none d-md-block">
                Powered By
                <a href="https://www.xano.com" target="_blank">
                    <img class="logo clickable"
                         src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg"
                         width="75px"
                    />
                </a>
            </div>
        </div>
        <div class="d-block d-lg-none">
            <mat-form-field color="primary">
                <mat-label>Start your search...</mat-label>
                <input [matAutocomplete]="auto" [formControl]="searchForm.controls.location" matInput>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option (onSelectionChange)="searchLocation(location, true)"
                                *ngFor="let location of filteredLocations | async"
                                [value]="location.city + ', ' + location.state">
                        <span>{{location.city}} , {{location.state}}</span>
                    </mat-option>
                </mat-autocomplete>
                <mat-icon class="search-icon" matSuffix> search</mat-icon>
            </mat-form-field>
        </div>
        <div class="pt-2 d-none d-lg-block">
            <form [formGroup]="searchForm" class="d-flex justify-content-center align-items-center" autocomplete="off">

                <mat-form-field color="primary">
                    <mat-label>Start your search...</mat-label>
                    <input [matAutocomplete]="auto" formControlName="location" matInput>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option (onSelectionChange)="searchLocation(location)"
                                    *ngFor="let location of filteredLocations | async"
                                    [value]="location.city + ', ' + location.state">
                            <span>{{location.city}} , {{location.state}}</span>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon class="search-icon" matSuffix> search</mat-icon>

                </mat-form-field>

                <mat-form-field color="primary" style="width: 138px">
                    <input
                            [matDatepicker]="pickerStart"
                            formControlName="start_at"
                            matInput placeholder="Checkin"
                            [min]="today"
                    >
                    <mat-datepicker-toggle [for]="pickerStart" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>

                <mat-form-field color="primary" style="width: 138px">
                    <input [matDatepicker]="pickerEnd"
                           [min]="tomorrow"
                           formControlName="end_at" matInput placeholder="Checkout">
                    <mat-datepicker-toggle [for]="pickerEnd" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>

                <div>
                    <button (click)="search()" mat-flat-button class="ml-2" color="primary">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>

            </form>
        </div>

        <div class="header-menu">
            <div class="menu-with-profile-image">
                <div [matMenuTriggerFor]="menu" class="menu-button d-flex cursor-pointer">

                    <div>
                        <mat-icon>menu</mat-icon>
                    </div>

                    <div *ngIf="!user?.profile_image?.url" class="empty-profile-picture">
                        <mat-icon>person</mat-icon>
                    </div>

                    <img *ngIf="user?.profile_image?.url" [src]="user.profile_image.url + '?tpl=small'"
                         class="profile-picture">
                </div>

                <mat-menu #menu="matMenu" class="header-menu">
                    <div *ngIf="!user else loggedInActions">
                        <button (click)="showPanel('auth', false)"  mat-menu-item>Login</button>
                        <button (click)="showPanel('auth', true)" mat-menu-item>Signup</button>
                    </div>

                    <ng-template #loggedInActions>
                        <button [routerLink]="['/my-reservations']" mat-menu-item>My Reservations</button>
                        <button [routerLink]="['/my-listings']" mat-menu-item>My Listings</button>
                        <mat-divider></mat-divider>
                        <button (click)="openHostHomePanel()" mat-menu-item>Host your Home</button>
                        <button (click)="logout()" mat-menu-item>Logout</button>
                    </ng-template>

                </mat-menu>
            </div>
        </div>

    </div>
</nav>

