<section id="my-reservations">
    <h2 class="mt-5 mb-4">Your Reservations</h2>
    <div class="d-flex flex-wrap">
        <mat-card *ngFor="let reservation of reservations" class="m-4">
            <mat-card-content>
                <img mat-card-image [src]="reservation?.listing?.images[0] ? reservation?.listing?.images[0].url : 'assets/images/house.jpg'" class="reservation-image">
                <p class="m-0">{{reservation?.start_at | date}} – {{reservation?.end_at | date}}</p>
                <h4 class="mt-2">{{reservation?.listing?.address?.city}}, {{reservation?.listing?.address?.state}}</h4>

                <hr />
                <div class="w-100 d-flex justify-content-start cursor-pointer" [routerLink]="['/listings/listing', reservation.listings_id]">
                    <span class="flex-fill">
                        <b>{{reservation?.listing?.name}}</b>
                    </span>

                    <span class="align-self-end">
                        <mat-icon matSuffix >keyboard_arrow_right</mat-icon>
                    </span>

                </div>
                <hr />
            </mat-card-content>
            <mat-card-footer class="p-2">
                <mat-chip-list>
                    <mat-chip color="primary" *ngIf="reservation?.confirmed_at && !reservation?.canceled_at" selected>Confirmed</mat-chip>
                    <mat-chip color="warn" *ngIf="reservation?.canceled_at" selected>Canceled</mat-chip>
                    <mat-chip color="warn" *ngIf="reservation?.denied_at && !reservation?.canceled_at" selected>Denied</mat-chip>
                </mat-chip-list>
                <button mat-flat-button
                        (click)="cancel(reservation)"
                        *ngIf="!reservation?.canceled_at && !reservation?.denied_at && !reservation?.confirmed_at">
                    Cancel
                </button>
            </mat-card-footer>
        </mat-card>

        <div *ngIf="noReservations" class="d-flex justify-content-center align-items-center w-100 text-center">
            <h2>You don't have any reservations yet.</h2>
        </div>
    </div>

</section>
