#demo-landing {
    min-height: 100vh;
    max-width: 100vw;
    background: rgb(25, 25, 25);

    .api-form *  {
        color: whitesmoke;
    }

    // mat-input focused color
    ::ng-deep .mat-form-field-appearance-outline:not(.mat-form-field-invalid):not(.mat-focused) .mat-form-field-flex .mat-form-field-outline {
        border: none !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        opacity: 1;

        .mat-form-field-outline-start {
            border-top: 2px solid whitesmoke !important;
            border-left: 2px solid whitesmoke !important;
            border-bottom: 2px solid whitesmoke !important;
        }
        .mat-form-field-outline-gap {
            border-bottom: 2px solid whitesmoke !important;
            border-top: 2px solid whitesmoke !important;
        }
        .mat-form-field-outline-end {
            border-top: 2px solid whitesmoke !important;
            border-right: 2px solid whitesmoke !important;
            border-bottom: 2px solid whitesmoke !important;
        }
    }
    .mat-form-field-flex:hover .mat-form-field-outline-gap {
        border-top: 2px solid whitesmoke !important;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
        border-top-color: transparent !important;
    }

    mat-card, mat-card *:not(a) {
        background: #424242;
        color: whitesmoke;
    }
}

