<section class="container mt-5 pb-5" id="listing">
    <h1>{{listing?.name | titlecase}}</h1>
    <p>
        {{listing?.address.city}}
        {{listing?.address.state ? ', ' + listing?.address?.state : ''}}
        {{listing?.address?.country ? ', ' + listing.address.country : ''}}</p>
    <div *ngIf="listing?.images" class="row">
        <div class="col">
            <img [src]="listing.images[0]?.url" width="100%"/>
        </div>
        <div class="col">
            <div class="row ml-2">
                <div class="col">
                    <img *ngIf="listing.images[1]?.url" [src]="listing.images[1]?.url" height="100%" width="100%"/>
                </div>
                <div class="col">
                    <img *ngIf="listing.images[2]?.url" [src]="listing.images[2]?.url" height="100%" width="100%"/>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col">
                    <img *ngIf="listing.images[3]?.url" [src]="listing.images[3]?.url" height="100%" width="100%"/>
                </div>
                <div class="col">
                    <img *ngIf="listing.images[4]?.url" [src]="listing.images[4]?.url" height="100%" width="100%"/>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-5">{{(listing?.place_type?.split('_')[0] + ' ' + listing?.place_type?.split('_')[1]) | titlecase}}
        Hosted By {{listing?.host?.name | titlecase}}
    </h3>
    <p>{{listing?.occupancy}} guests &bull; {{listing?.bedrooms}} bedrooms &bull; {{listing?.bathrooms}} bath</p>

    <hr/>

    <div class="row">
        <div class="col-12 col-md-6">
            <p>
                {{listing?.description}}
            </p>
        </div>
        <div class="col-12 col-md-6">
            <mat-card>
                <h2 class="mb-4">Reserve Today</h2>

                <form [formGroup]="datesForm" class="mb-4">
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input [matDatepicker]="pickerStart" formControlName="start_at" matInput placeholder="Checkin">
                        <mat-datepicker-toggle [for]="pickerStart" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input [matDatepicker]="pickerEnd" formControlName="end_at" matInput placeholder="Checkout">
                        <mat-datepicker-toggle [for]="pickerEnd" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                    </mat-form-field>
                </form>


                <div class="d-flex justify-content-end align-items-end">
                    <button (click)="reserve()" color="primary" mat-raised-button>Reserve</button>
                </div>
            </mat-card>
        </div>
    </div>

    <hr class="mt-4 mb-4"/>

    <h3>House Rules</h3>
    <div class="d-flex flex-wrap mt-4">
        <div *ngIf="listing?.pets_allowed" class="w-50 d-flex align-items-center">
            <mat-icon class="mr-4 mb-3 font-weight-bold" color="primary">check</mat-icon>
            <h5>Pets Allowed</h5>
        </div>
        <div *ngIf="listing?.smoking_allowed" class="w-50 d-flex align-items-center">
            <mat-icon class="mr-4 mb-3 font-weight-bold" color="primary">check</mat-icon>
            <h5>Smoking Allowed</h5>
        </div>
    </div>

    <hr class="mt-4 mb-4"/>

    <h3>Amenities</h3>
    <div class="d-flex flex-wrap mt-4">
        <div *ngFor="let x of listing?.amenities | keyvalue" [ngClass]="{'w-50': x.value}"
             class="w-50 d-flex align-items-center">
            <mat-icon *ngIf="x.value" class="mr-4 mb-3 font-weight-bold" color="primary">check</mat-icon>
            <h5 *ngIf="x.value">{{x.key.split('_')[0] | titlecase}} {{x.key.split('_')[1] ? (x.key.split('_')[1] | titlecase) : '' }}</h5>
        </div>
    </div>

    <hr class="mt-4 mb-4"/>

    <h3>Facilities</h3>
    <div class="d-flex flex-wrap mt-4">
        <div *ngFor="let x of listing?.facilities | keyvalue" [ngClass]="{'w-50': x.value}"
             class="d-flex align-items-center">
            <mat-icon *ngIf="x.value" class="mr-4 mb-3 font-weight-bold" color="primary">check</mat-icon>
            <h5 *ngIf="x.value">{{x.key.split('_')[0] | titlecase}} {{x.key.split('_')[1] ? (x.key.split('_')[1] | titlecase) : '' }}</h5>
        </div>
    </div>

</section>
