#listing {
    .listing-images {
        display: flex;
        //flex-wrap: wrap;

        div:first-of-type {
            width: 50% !important;
            height: 100%;

            img {
                object-fit: cover;
            }
        }

        div:not(:first-of-type) {
            width: 25%;

            img {
                height: 300px !important;
                object-fit: contain;
            }

        }
    }

    * {
        white-space: pre-wrap;
    }

    //
    //.reservation-card {
    //    background: white;
    //    border: 1px inset rgba(0,0,0,0.4);
    //    padding: 15px;
    //    border-radius: 5px;
    //
    //    mat-form-field {}
    //}

}
