<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">Filter Your Search</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-content mt-4">
        <form [formGroup]="filtersForm" class="mb-4">
            <h2>Rooms & Beds</h2>

            <div class="d-flex flex-wrap justify-content-between">
                <mat-form-field appearance="outline" class="w-25">
                    <mat-label>Beds</mat-label>
                    <input formControlName="occupancy" matInput type="number"/>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-25">
                    <mat-label>Bedrooms</mat-label>
                    <input formControlName="bedrooms" matInput type="number"/>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-25">
                    <mat-label>Bathrooms</mat-label>
                    <input formControlName="bathrooms" matInput type="number"/>
                </mat-form-field>
            </div>


            <mat-divider></mat-divider>
            <h2 class="mt-4 mb-4">House Rules</h2>
            <div>
                <mat-checkbox formControlName="smoking_allowed">Smoking Allowed</mat-checkbox>
                <mat-checkbox class="ml-2" formControlName="pets_allowed">Pets Allowed</mat-checkbox>
            </div>

        </form>

        <mat-divider></mat-divider>

        <h2>Amenities</h2>
        <form [formGroup]="amenitiesForm" class="d-flex flex-wrap pt-4 mb-4">
            <mat-checkbox *ngFor="let control of amenitiesFormControls" [formControlName]="control" class="mr-2"
                          style="width: 45%">{{control.split('_').join(' ') | titlecase}}</mat-checkbox>
        </form>

        <mat-divider></mat-divider>

        <h2 class="mt-4">Facilities</h2>
        <form [formGroup]="facilitiesForm" class="d-flex flex-wrap pt-4 mb-4">
            <mat-checkbox *ngFor="let control of facilitiesFormControls" [formControlName]="control"
                          class="mr-2" style="width: 45%">{{control.split('_').join(' ') | titlecase}}</mat-checkbox>
        </form>

    </div>

    <div class="panel-footer">
        <button (click)="submit()" color="primary" mat-flat-button>Filter</button>
    </div>

</section>
