<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">Reserve</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-content mt-4">
        <div>
            <h2>You're reserving {{data?.listing?.name | titlecase}}</h2>
            <p>Hosted by <b>{{data?.listing?.host?.name | titlecase}}</b></p>
        </div>

        <mat-divider></mat-divider>
        <div class="row mt-4">
            <div class="col">
                <b>{{this.reservationsForm.controls.price.value | currency}} x {{numberOfDays}} nights</b>
            </div>
            <div class="col">
                {{this.reservationsForm.controls.price.value * numberOfDays | currency}}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <b>Service Fee</b>
            </div>
            <div class="col">
                {{this.reservationsForm.controls.booking_fee.value | currency}}
            </div>
        </div>

        <mat-divider class="mt-4"></mat-divider>
        <div class="row mt-4">
            <div class="col">
                <h5><b>Total</b></h5>
            </div>
            <div class="col">
                {{this.reservationsForm.controls.total.value | currency}}
            </div>
        </div>

    </div>

    <div class="panel-footer">
        <button (click)="submit()" *ngIf="!notLoggedIn" color="primary" mat-flat-button>Reserve</button>
        <button (click)="login()" *ngIf="notLoggedIn" color="primary" mat-flat-button>Login</button>
    </div>

</section>
