<section class="d-flex flex-wrap mt-4 w-100" id="listings">
    <div *ngIf="locationName" class="p-2 w-100">
        <p class="pl-md-4">
            {{count ? count + ' stay' + (count > 1 ? 's' : '') : ''}}
            <span *ngIf="start_date && count"> &bull; </span>
            <span *ngIf="start_date">{{start_date | date: "MMM d"}}</span>
            <span *ngIf="start_date && end_date">–</span>
            <span *ngIf="end_date ">{{end_date | date: "MMM d"}}</span>
        </p>
        <h1 class="pl-md-4">Stays in {{locationName}}</h1>

        <div class="mt-4 pl-md-4">
            <button [matMenuTriggerFor]="placeMenu" class="filter-button" mat-stroked-button>Type of Place</button>
            <mat-menu #placeMenu="matMenu" class="p-4">
                <div (click)="$event.stopPropagation()" mat-menu-item>
                    <mat-checkbox (click)="placeFilter($event, 'entire_place')">Entire Place</mat-checkbox>
                </div>
                <div (click)="$event.stopPropagation()" mat-menu-item>
                    <mat-checkbox (click)="placeFilter($event, 'private_room')">Private Room</mat-checkbox>
                </div>
                <div (click)="$event.stopPropagation()" mat-menu-item>
                    <mat-checkbox (click)="placeFilter($event, 'hotel_room')">Hotel Room</mat-checkbox>
                </div>
                <div (click)="$event.stopPropagation()" mat-menu-item>
                    <mat-checkbox (click)="placeFilter($event, 'shared_room')">Shared Room</mat-checkbox>
                </div>

                <button (click)="submitPlaceFilters()" class="w-100 save-filter" color="primary" mat-raised-button>
                    Save
                </button>
            </mat-menu>

            <button [matMenuTriggerFor]="priceMenu" class="filter-button" mat-stroked-button>Price</button>
            <mat-menu #priceMenu="matMenu" class="p-4 price-filter-menu">
                <form [formGroup]="priceFiltersForm" autocomplete="off">
                    <mat-form-field (click)="$event.stopPropagation()" appearance="outline" class="w-100" color="primary">
                        <mat-label>Min Price</mat-label>
                        <input matInput step="1" type="number" formControlName="min_price">
                        <mat-error *ngIf="this.priceFiltersForm.controls.min_price.hasError('required')">
                            Min Price is required.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field (click)="$event.stopPropagation()" appearance="outline" class="w-100" color="primary">
                        <mat-label>Max Price</mat-label>
                        <input matInput step="1" type="number" formControlName="max_price">
                        <mat-error *ngIf="this.priceFiltersForm.controls.max_price.hasError('required')">
                            Max Price is required.
                        </mat-error>
                    </mat-form-field>
                    <button class="w-100 save-filter" color="primary" mat-raised-button (click)="filterByPrice()">
                        Save
                    </button>
                </form>
            </mat-menu>

            <button (click)="openFiltersPanel()" class="filter-button" mat-stroked-button>More Filters</button>
        </div>

        <div class="mt-4 d-flex flex-wrap justify-content-between w-100">
            <div *ngFor="let listing of listings" [routerLink]="['/listings/listing', listing.id]"
                 class="listing-card cursor-pointer flex-fill p-md-4">
                <div class="d-flex flex-column flex-md-row">
                    <div>
                        <img [src]="listing?.images[0]?.url ? listing?.images[0]?.url :'assets/images/house.jpg'"
                             class="listings-image"/>
                    </div>

                    <div class="ml-md-4 d-flex flex-column flex-fill">
                        <div>
                            <p>{{listing.place_type.split('_')[0] + ' ' + listing.place_type.split('_')[1] | titlecase}}</p>
                            <h4>{{listing.name | titlecase}}</h4>
                            <div class="w-25">
                                <hr/>
                            </div>
                            <p>{{listing.occupancy}} guests &bull; {{listing.bedrooms}} bedrooms
                                &bull; {{listing.bathrooms}} bath</p>
                            <p class="text-truncate">
                                <span *ngFor="let amenity of fourAmenities(listing.amenities | keyvalue) as _fourAmenities">
                                    {{ amenity | titlecase}} <span *ngIf="_fourAmenities[_fourAmenities.length -1] !== amenity">&bull;</span>
                                </span>
                            </p>

                        </div>

                        <div class="w-100 d-flex mt-auto align-items-end">
                            <div class="text-right ml-auto d-flex flex-column align-items-end">
                                <h4>
                                    <b>{{listing.price | currency}}</b> / night
                                </h4>
                                <p *ngIf="numberOfDays && listing.price">{{numberOfDays * listing.price | currency}}
                                    total</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>

    <div *ngIf="!locationName" class="d-flex flex-column justify-content-center align-items-center w-100 text-center"
         style="height: 50vh">
        <div>
            <mat-icon class="start-search-icon">search</mat-icon>
        </div>

        <h1 class="mt-">Start your search in the top menu.</h1>
    </div>

    <div *ngIf="!noResults && locationName && !loading"
         class="d-flex flex-column justify-content-center align-items-center w-100 text-center" style="height: 50vh">
        <div>
            <mat-icon class="start-search-icon" color="warn">search_off</mat-icon>
        </div>

        <h1 class="mt-">We're sorry no results showed up for that query!</h1>
    </div>

    <div *ngIf="loading" class="d-flex w-100 justify-content-center align-items-center">
        <mat-spinner></mat-spinner>
    </div>

</section>
