#listings {
    .filter-button {
        margin-right: 5px;
        border-radius: 25px;
        border: 1px solid rgba(25, 25, 25, 0.25);
    }

    .filter-button:hover {
        border-radius: 25px;
        border: 1px solid rgba(25, 25, 25, 1);
    }

    .listing-card {

        img {
            min-width: 300px
        }
    }

    .listing-card p {
        color: rgba(0, 0, 0, 0.6)
    }

    .listing-card h4 {
        font-weight: normal;
    }

    .listings-image {
        width: 300px;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }

    .start-search-icon {
        font-size: 5em;
        width: fit-content;
        height: fit-content;
        margin-left: -50px
    }


}

@media screen and (max-width: 650px) {
    .listing-card {
        div:has(img) {
            width: 100%;
        }

        img {
            width: 100% !important;
        }
    }
}
