<section class="mt-4" id="home">
    <h2 class="text-center">Find a Stay</h2>
    <hr/>
    <div class="d-flex flex-wrap justify-content-center mb-5">
        <div (click)="explore('entire_place', 'type-of-place')" class="d-flex flex-column cursor-pointer">
            <img class="filterImage" src="assets/images/house.jpg"/>
            <div class="ml-4"><h5>Entire Houses</h5></div>
        </div>

        <div (click)="explore('private_room', 'type-of-place')" class="d-flex flex-column cursor-pointer">
            <img class="filterImage" src="assets/images/room.jpg"/>
            <div class="ml-4"><h5>Private Rooms</h5></div>
        </div>

        <div (click)="explore(true, 'pets-allowed')" class="d-flex flex-column cursor-pointer">
            <img class="filterImage" src="assets/images/pets.jpg"/>
            <div class="ml-4"><h5>Pets Allowed</h5></div>
        </div>
    </div>

    <h2 class="text-center mt-5">Explore a Location</h2>
    <hr/>
    <div class="d-flex flex-wrap justify-content-center mb-5">
        <div (click)="explore('Santa Barbara', 'location')" class="d-flex flex-column cursor-pointer">
            <img class="filterImage" src="assets/images/santa.jpg"/>
            <div class="ml-4"><h5>Santa Barbara</h5></div>
        </div>

        <div (click)="explore('Mount Fuji', 'location')" class="d-flex flex-column cursor-pointer">
            <img class="filterImage" src="assets/images/japan.jpeg"/>
            <div class="ml-4"><h5>Mt. Fuji Japan</h5></div>
        </div>

        <div (click)="explore('London', 'location')" class="d-flex flex-column cursor-pointer">
            <img class="filterImage" src="assets/images/england.jpg"/>
            <div class="ml-4"><h5>London, England</h5></div>
        </div>
    </div>
</section>
