<section id="my-listings">
    <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
    <div *ngIf="!loading">
        <h2 class="mt-5 mb-4">My Listings</h2>
        <table [dataSource]="listings" class="w-100 mt-2" mat-table>
            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell>ID</th>
                <td *matCellDef="let row" mat-cell>{{row.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell>Name</th>
                <td *matCellDef="let row" mat-cell>
                    <h5 class="pt-3 pb-2 cursor-pointer" [routerLink]="['/listings/listing', row.id]">
                        {{row.name | titlecase}}
                    </h5>
                </td>
            </ng-container>

            <ng-container matColumnDef="property_type">
                <th *matHeaderCellDef mat-header-cell>Property Type</th>
                <td *matCellDef="let row" mat-cell>{{row.property_type |  titlecase}}</td>
            </ng-container>

            <ng-container matColumnDef="location">
                <th *matHeaderCellDef mat-header-cell>Location</th>
                <td *matCellDef="let row" mat-cell>{{row.address.city}}, {{row.address.state}}</td>
            </ng-container>


            <ng-container matColumnDef="edit">
                <th *matHeaderCellDef mat-header-cell>Edit</th>
                <td *matCellDef="let row" mat-cell>
                    <button mat-button (click)="editListing(row)">Edit</button>
                </td>
            </ng-container>


            <tr *matHeaderRowDef="listingsTable.displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: listingsTable.displayedColumns;" class="table-row" mat-row></tr>
        </table>
        <div class="d-flex w-100 justify-content-center align-items-center p-4 no-results" *ngIf="listingsTable.noResults">
            <h2>No Results!</h2>
        </div>
        <mat-paginator
                [pageSize]="10"
                [pageIndex]="listingsTable.currentPage -1"
                [length]="listingsTable.totalItems"
                (page)="pageChangeEvent($event, 'listings')"
        ></mat-paginator>
    </div>

    <mat-spinner *ngIf="loading" class="ml-auto mr-auto mb-5"></mat-spinner>
    <div *ngIf="!loading">
        <h2 class="mt-5 mb-4">Reservation Requests</h2>
        <table [dataSource]="reservations" class="w-100 mt-2" mat-table>
            <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell>ID</th>
                <td *matCellDef="let row" mat-cell>{{row.id}}</td>
            </ng-container>

            <ng-container matColumnDef="request_from">
                <th *matHeaderCellDef mat-header-cell>Request From</th>
                <td *matCellDef="let row" mat-cell>
                    {{row.user.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="property_name">
                <th *matHeaderCellDef mat-header-cell>Property Name</th>
                <td *matCellDef="let row" mat-cell>
                    {{row.listings.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="dates">
                <th *matHeaderCellDef mat-header-cell>Dates</th>
                <td *matCellDef="let row" mat-cell>
                    {{row.start_at | date}} - {{row.end_at | date}}
                </td>
            </ng-container>

            <ng-container matColumnDef="pricing">
                <th *matHeaderCellDef mat-header-cell>Pricing</th>
                <td *matCellDef="let row" mat-cell>
                    <div class="pt-3 pb-2">
                        <p>Total: {{row.total | currency}}</p>
                        <p>Our Fee: {{row.booking_fee | currency}}</p>
                        <p>Your Take Home: {{row.total- row.booking_fee | currency}}</p>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="approve">
                <th *matHeaderCellDef mat-header-cell>Approve</th>
                <td *matCellDef="let row" mat-cell>
                    <mat-chip-list *ngIf="!row.canceled_at">
                        <mat-chip color="accent" selected *ngIf="row.confirmed_at">Approved</mat-chip>
                        <mat-chip color="warn" selected *ngIf="row.denied_at">Denied</mat-chip>
                    </mat-chip-list>
                    <div *ngIf="!row.confirmed_at && !row.denied_at && !row.canceled_at">
                        <button mat-flat-button color="primary" (click)="approve(row.id, true, false, false)">
                            Approve
                        </button>

                        <button mat-flat-button color="warn" class="ml-2" (click)="approve(row.id, false, true, false)">
                            Deny
                        </button>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="cancel">
                <th *matHeaderCellDef mat-header-cell>Cancel</th>
                <td *matCellDef="let row" mat-cell>
                    <mat-chip-list>
                        <mat-chip selected *ngIf="row.canceled_at" color="warn">Canceled</mat-chip>
                    </mat-chip-list>
                    <div *ngIf="!row.canceled_at && row.confirmed_at">
                        <button mat-stroked-button (click)="approve(row.id, false, false, true)">
                            Cancel
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr *matHeaderRowDef="reservationsTable.displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: reservationsTable.displayedColumns;" class="table-row" mat-row></tr>
        </table>
        <div class="d-flex w-100 justify-content-center align-items-center p-4 no-results" *ngIf="reservationsTable.noResults">
            <h2>No Results!</h2>
        </div>
        <mat-paginator
                [pageSize]="10"
                [pageIndex]="reservationsTable.currentPage -1"
                [length]="reservationsTable.totalItems"
                (page)="pageChangeEvent($event, 'reservations')"
        ></mat-paginator>
    </div>




</section>
